.tab {
  max-width: 80rem;
  width: 90%;
  margin: 2rem auto;
  animation: tab-appear 1s ease-out forwards;
  margin-top: -12rem;
    position: relative;
    z-index: 4;
}

.addItemWrapper{
  padding: 0%;
  width:40%;
  /* height: 32rem; */
 margin-left: 18rem;
 margin-bottom: 2rem;
}

@keyframes tab-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
section {
  width: 90%;
  max-width: 40rem;
  text-align: center;
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
}