.available-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .available-list-item {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
  }
  
  .available-list-item h3 {
    margin: 0 0 0.25rem 0;
  }
  